{%extends "registration/base_registration.html" %}
{% load floppyforms %}


{% block inner %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="container">
	<div class="row">
		<div class="span6">
			<h2 class="section_header left">
				<span>Login</span>
			</h2>
			<form method="post" action="" class="form-horizontal">
			{% csrf_token %}
			{% form form  using "floppyforms/layouts/bootstrap.html" %}
			<div class="controls">
				<p><a href="{% url 'auth_password_reset' %}">Forgot Password?</a></p>
				<input class="btn btn-large btn-primary span2" type="submit" value="Login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
			</form>
		</div>
		<div class="span6">
			<h2 class="section_header left">
				<span>Register</span>
			</h2>
			<a class="btn btn-primary btn-large" href="{% url 'registration_register' %}">Click Here To Register an Account</a>
		</div>
	</div>
</div>
{% endblock %}
