.editProfile {
  text-align: center;
}

.editProfile > p > label {
  display: inline-block;
  margin-right: 10px;
  width: 110px;
  text-align: right;
}

.editProfile > input[type="submit"] {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.editProfile .helptext {
    font-size: 80%;
    text-align: right;
    display: block;
    margin-right: 15px;
}
