{% extends 'cleancloud/base.html' %}

{% block navbar_class-contact %}active{% endblock navbar_class-contact %}

{% block title %}Contact Us{% endblock %}

{% block body %}
<div class="span6">
	<h2 class="section_header left">
		<span>Contact Us</span>
	</h2>
</div>
{% if submitted %}
<div class="span6">
	<p>Your comment has been forwarded to the team at Dedool.com. Thank you for your thoughts!</p>
</div>
{% else %}
<div class="span12">
	<form action="" method="POST">
		{% csrf_token %}
		Name:<br>
		<input type="text" name="name"><br>
		Your E-mail:<br>
		<input type="text" name="mail"><br>
		Comment:<br>
		<textarea rows="15" cols="300" name="comment"></textarea><br><br>
		<input class="btn btn-large btn-primary" type="submit" value="Send">
	</form>
</div>
{% endif %}
{% endblock %}
