{% extends 'cleancloud/base.html' %}

{% block navbar_class-files %}active{% endblock navbar_class-files %}

{% block title %}Files{% endblock %}

{% block body %}
<div>
	<h2 class="section_header left">
		<span>Files</span>
	</h2>
	{% if error %}
	<div class="error">
		{{ error }}
	</div>
	{% endif %}
	<div class="span12">
		<div class="row">
			<h4>Upload File</h4>
			<p>Upload the files you would like to clean here. Please upload only plaintext comma-separated value (CSV) files, with extension ".csv" or ".txt."</p>
			<form action="" enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<label>
					Select a file to upload: <input type="file" name="input_file"/>
				</label>
				<input type="submit" class="btn btn-primary" value="Upload File">
			</form>
	</div>
	</div>

	<div class="row">
		<div class="span12">
			<h4>File Library</h4>
			<h5>Quota Usage</h5>
			<p><b>{{ total_size|filesizeformat }}</b> out of <b>{{ quota|filesizeformat }}</b>. {{ percentage }}% used.</p>
			{% if files %}
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Size</th>
						<th>Rows</th>
						<th>Columns</th>
						<th>Type</th>
						<th>Created</th>
					</tr>
				</thead>
				<tbody>
					{% for file, stripped_filename in files %}
					{% if file.type == "U" %}
						<tr id="{{ file.id }}">
							<td><a onclick="remove_file('{{ file.id }}')" title="Remove File"><i class="icon-remove"></i></a></td>
							<td><a href="{{ file.get_public_link }}">{{ stripped_filename }}</a></td>
							<td>{{ file.size|filesizeformat }}</td>
							<td>{{ file.rows }}</td>
							<td>{{ file.columns }}</td>
							<td>{% if file.type == "U" %}Uploaded{% else %}Cleaned{% endif %}</td>
							<td>{{ file.created }}
						<tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Size</th>
						<th>Rows</th>
						<th>Type</th>
						<th>Created</th>
						<th>Job</th>
					</tr>
				</thead>
				<tbody>
					{% for file, stripped_filename in files %}
					{% if file.type != "U" %}
						<tr id="{{ file.id }}">
							<td><a onclick="remove_file('{{ file.id }}')" title="Remove File"><i class="icon-remove"></i></a></td>
							<td><a href="{{ file.get_public_link }}">{{ stripped_filename }}</a></td>
							<td>{{ file.size|filesizeformat }}</td>
							<td>{{ file.rows }}</td>
							<td>{% if file.type == "U" %}Uploaded{% else %}Cleaned{% endif %}</td>
							<td>{{ file.created }}</td>
							<td><a href="{{ file.get_job_link }}">{{ file.get_job_name }}</td>
						<tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>			
			{% endif %}			
		</div>
	</div>
</div>
{% endblock %}
