{% extends "cleancloud/base.html" %}

{% block navbar_class-home %}active{% endblock navbar_class-home %}

{% block title %}Home{% endblock title %}

{% block header %}
	<div id="hero">
		<div class="container">
			<!-- starts carousel -->
			<div class="row animated fadeInDown">
				<div class="span12">
					<div id="myCarousel" class="carousel slide">
						<!-- carousel items -->
						<div class="carousel-inner">
							<!-- slide -->
							<div class="active item slide1">
								<div class="row">
									<div class="span6">
										<!-- <img src="{{ STATIC_URL }}img/slide1.jpg" alt="slide1" /> -->
										<iframe width="420" height="315" src="http://www.youtube.com/embed/FDejEGMGlqI" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="span4">
										<h1>
											Cloud-based Data Cleaning
										</h1>
										<p>
											Duplicate record detection. Clean database files with millions of records.
										</p>
										<a href="{% url 'dedool_functions.views.start' %}" class="btn btn-primary btn-large">
											Start Cleaning!
										</a>
									</div>
								</div>
							</div>
							<!-- slide
							<div class="item slide2">
								<div class="row">
									<div class="span4 animated fadeInUpBig">
										<h1>Fully responsive blog template</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi ut aliquip ex ea commodo consequat.
										</p>
										<a href="blog.html" class="btn btn-success btn-large">
											Watch it now!
										</a>
									</div>
									<div class="span6 animated fadeInDownBig">
										<img src="img/slide2.png" alt="slide2" />
									</div>
								</div>
							</div>
							<!-- slide
							<div class="item slide3 animated fadeInUpBig">
								<img src="img/slide3.png" alt="slide3" />
							</div> -->
						</div>
						<!-- Carousel nav -->
						<!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="intro">
		<div class="container">
			<h1>Dedool is a high-performance cloud-based database record cleaning service</h1>
		</div>
	</div>
{% endblock %}

{% block body %}
<div id="features">
	<h2 class="section_header">
		<hr class="left visible-desktop">
		<span>Features</span>
		<hr class="right visible-desktop">
	</h2>

	<div class="row">
		<div class="span4 feature">
			<img src="{{ STATIC_URL }}img/feature1.jpg" alt="feature1" class="thumb" width="400" height="300"/>
			<h3>
				<i class="i_chart"></i> Cleaning-in-the-Cloud
			</h3>
			<p class="description">
				Use the convenience of web based interface to control the cleaning tasks running remotely in the Cloud -- no downloads or installation hassle.
			</p>
		</div>
		<div class="span4 feature">
			<img src="{{ STATIC_URL }}img/feature2.jpg" alt="feature2" class="thumb" />
			<h3>
				<i class="i_cloud"></i> Large-scale Cleaning
			</h3>
			<p class="description">
				Use the power of the parallel and distributed processing in the Cloud to be able to clean very large files quickly.
			</p>
		</div>
		<div class="span4 feature">
			<img src="{{ STATIC_URL }}img/feature3.jpg" alt="feature3" class="thumb" />
			<h3>
				<i class="i_chart"></i> Low-cost Cleaning
			</h3>
			<p class="description">
				Choose the price and service that matches your needs at all performance levels with our convenient, pay-as-you-go pricing.
			</p>
		</div>
	</div>
</div>
<div id="start">
	<div class="section_header">
		<hr class="left visible-desktop">
		<a href="{% url 'dedool_functions.views.start' %}" class="btn btn-large btn-primary">Start Cleaning</a>
		<hr class="right visible-desktop">
	</div>
</div>
{% endblock %}
