{% if job.status == "unsubmitted" %}
	<a href="{% url 'dedool_functions.views.select' job.id %}">Select Data File</a>
{% elif job.status == "uploaded" %}
	<a href="{% url 'dedool_functions.views.review' job.id %}">Review Data</a>
{% elif job.status == "reviewed" %}
	<a href="{% url 'dedool_functions.views.configure' job.id %}">Select Service Level</a>
{% elif job.status == "results" %}
	<a href="{% url 'dedool_functions.views.edit_results' job.id %}">Edit Results</a>
{% elif job.status == "completed" %}
	<a href="{% url 'dedool_functions.views.results' job.id %}">Final Results</a>
{% elif job.status == "cancelled" %}
	Cancelled
{% endif %}		
