{% extends "cleancloud/base_profile.html" %}

{% block title %}
Profile
{% endblock %}

{% block profile_header %}
User Profile
{% endblock %}

{% block inner %}
	{% if profile.first_name|length > 0 %}
	<p><h6>Name:</h6> {{ profile.first_name }} {{ profile.last_name }}</p>
	<p><h6>Company: </h6>{{ profile.company }}</p>
	<p><h6>Phone Number: </h6>{{ profile.phone }}</p>
	<p><h6>Address:</h6>
		{{ profile.street_address_1 }}<br/>
		{% if profile.street_address_2|length > 0 %}
		{{ profile.street_address_2 }}<br/>
		{% endif %}
		{{ profile.city }}, {{ profile.state }}<br/>
		{{ profile.zipcode }}</p>
	{% else %}
	<p>User profile not available. Please click <a href="{% url 'dedool_profile.views.edit_profile' %}">here</a> to complete your profile.</p>
	{% endif %}
{% endblock %}
