{% extends "cleancloud/base_breadcrumb.html" %}

{% block title %}
 - Review Data
{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'dedool_functions.views.start' %}">Start</a> <span class="divider">/</span> </li>
	{% if not error %}
	<li><a href="{% url 'dedool_functions.views.upload' job.id %}">Select Input</a> <span class="divider">/</span> </li>
	{% endif %}
	<li class="active">Review Data</li>
{% endblock %}

{% block inner %}
<div class="span12">
	<form action="" method="POST">	
		{% csrf_token %}
		<h2>Similarity Threshold</h2>
		<p>Set the similarity threshold using the slider below. Lower threshold values allow more permissive fuzzy matching. A threshold value of 1 will only detect exact matches. Lower threshold values work better for short input strings.</p>
		<div class="span12">
			<span id="slider" class="span5"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="slider_label"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="slider_example"></span>
		</div>
		<input type="hidden" name="threshold" id="threshold"/>
		
		<div>
			<h2>Review Data</h2>		
			<p>The first 10 lines of <strong>{{ nrows }}</strong> total in the submitted data file are displayed below. Please verify that the data is correct.</p>
			<p>Select the data column(s) to include in the cleaning by selecting the checkboxes in the header. The default is column 1.</p>
			<table class="table">
				<thead>
					{% autoescape off %}
						{{ table_header }}
					{% endautoescape %}
				</thead>
				<tbody>
					{% autoescape off %}
						{{ table_body }}
					{% endautoescape %}
				</tbody>
			</table>
			<input type="hidden" name="ncols" value="{{ ncols }}"/>
			<input type="hidden" name="nrows" value="{{ nrows }}"/>	
			<input type="hidden" name="key" value="0"/>
			<div class="form-actions">
				<input class="btn btn-large btn-primary span2" onclick="load_page_onclick('{% url 'dedool_functions.views.select' job.id %}')" value="Previous">
				<div class="pull-right" id="clean">
					<input class="btn btn-large btn-primary" type="submit" value="Next">
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block additional_scripts %}
<!-- Javascript for threshold slider -->
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>	
<script>
example_text = function(value) {
	if (value >= 0.9) {
		$("#slider_example").html("Appropriate for input strings three words or longer.");
	} else if (value == 0.8) {
		$("#slider_example").html("Appropriate for input strings two words or longer.");
	} else if (value <= 0.7) {
		$("#slider_example").html("Appropriate for input strings one word or longer.");
	}	
};

var val = {{ job.threshold }};
$("#slider").slider({min:0, max:1.0, step:0.1, value:val, slide: 
	function(event, ui){
		$("#slider_label").html(ui.value);
		example_text(ui.value);
		$("#threshold").val(ui.value);
	}
});
	
$("#slider_label").html(val);
example_text(val);
$("#threshold").val($("#slider").slider("value"));
</script>
{% endblock %}