{% extends "cleancloud/base_breadcrumb.html" %}

{% block title %}
	- Start Record Cleaning Job
{% endblock %}

{% block breadcrumb %}
	<li class="active">Home</li>
{% endblock %}

{% block inner %}
<h3>Start New Job</h3>
<form action="" method="POST">
{% csrf_token %}
<p>To start a new job, please enter a job name or use the default and click the "Start New Job" button.</p>
<p><label>Job Name: <input class="input" type="text" name="name" value="{{ default_name }}"/></label></p>
<p><input class="btn btn-large btn-primary" type="submit" value="Start New Job"/></p>
</form>

{% if active_jobs|length > 0 or running|length > 0 %}
	<h3>Active and Running Jobs</h3>
	{% include 'cleancloud/active_job_table.html' %}
{% endif %}
{% endblock %}