{% extends "cleancloud/base.html" %}

{% block navbar_class-profile %}active{% endblock navbar_class-profile %}

{% block stylesheets %}
    {% load staticfiles %}
    <link href="{{ STATIC_URL }}css/userprofile.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
<div class="container">
    <h2 class="section_header left">
        <span>
            {% block profile_header %}{% endblock %}
        </span>
    </h2>
    <div class="row">
        <div class="span12 profile-nav">
            <ul class="nav nav-pills">
                <li class="{% block navpills_class-profile %}{% endblock navpills_class-profile %}">
                    <a href="{% url 'dedool_profile.views.profile' %}">View/Edit User Profile</a>
                </li>
                <li class="{% block navpills_class-password %}{% endblock navpills_class-password %}">
                    <a href="{% url 'auth_password_change' %}">Change Password</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12 offset1">
            {% block inner %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
